<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated website -->
      <package
            uri="https://it.disim.mde2223/webapplication"
            class="Web.WebPackage"
            genModel="it.disim.mde2223.webapplication.model/website.genmodel"/>
   </extension>

</plugin>
